@media (min-width: 1200px) {
    .container {
        max-width: 935px;
    }
}

[data-bs-theme="violet"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: #5347ed;
    /* --bs-body-bg:  var(#5347ed); */
    --bs-body-bg-rgb: #{to-rgb(#5347ed)};
    --bs-tertiary-bg: #{$blue-600};

    .fs-post img.border {
        border-color: var(--bs-body-bg) !important;
    }
}