<h4>Favorite Sites</h4>

<ul class="list-unstyled">
    <li class=""><a class="text-reset " href="https://martinfowler.com/"><span class="">Martin
                Fowler</span></a></li>
    <li class=""><a class="text-reset " href="https://mkyong.com/"><span class="">Mkyong.com</span></a></li>
    <li class=""><a class="text-reset " href="https://blog.octo.com/en/"><span class="">OCTO Talks
                !</span></a></li>
    <li class=""><a class="text-reset " href="https://antoniogoncalves.org/"><span class="">Antonio
                Goncalves’ blog</span></a></li>
    <li class=""><a class="text-reset " href="http://www.parisjug.org/"><span class="">Paris
                JUG</span></a></li>
    <li class=""><a class="text-reset " href="https://www.devoxx.fr/"><span class="">Devoxx
                France</span></a></li>
    <li class=""><a class="text-reset " href="https://www.journaldev.com/"><span class="">JournalDev</span></a></li>
</ul>