<div class="summary">
    <div class="row">
        <div class="col-sm-4">

            {% if post.thumbnail %}
            <img class="img-fluid rounded flex-shrink-0" alt="{{ post.title }}"
                src="{{ post.thumbnail | relative_url }}" />
            {% else %}
            <img class="img-fluid rounded flex-shrink-0" alt="{{ post.title }}"
                src="{{ site.baseurl }}/assets/img/Full-Stack-Developer-Tutorials.jpg" />
            {% endif %}

        </div>
        <div class="col-sm-8 p-3">

            <div class="fs-6">
                <h4 class="mb-0 text-limit-line-2 fw-bold">
                    <span style="color: #f67d6f;">Dev</span>
                    {{ post.title }}
                </h4>
                <p>
                    <small class="text-muted">{{ post.date | date: "%F" }}</small>
                    {% for c in post.tags limit:3 %}
                    · <span class="text-muted"> {{c}} </span>
                    {% endfor %}
                </p>
            </div>

        </div>
    </div>
</div>