<ul class="list-unstyled">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/test/">Quality</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/cucumber/">BDD
                Cucumber</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/tdd/">TDD</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/selenium/">Selenium</a>
        </li>
    </ul>
</ul>
<ul class="list-unstyled">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/agile/">Agile</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/design/">Design</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/rest/">REST API</a></li>
    </ul>
</ul>
<ul class="list-unstyled">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/java/">Java</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/spring/">Spring</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/junit/">JUnit</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/hibernate/">Hibernate</a></li>
    </ul>
</ul>
<ul class="list-unstyled">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/javascript/">Javascript</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/angularjs/">Angular</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/bootstrap/">Bootstrap</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/nodejs/">Node</a></li>
    </ul>
</ul>

<ul class="list-unstyled">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/unity3d/">Unity3D</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/csharp/">C#</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/photoshop/">Photoshop</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/assets/">Assets</a></li>
    </ul>
</ul>
<ul class="list-unstyled">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/other/">Misc</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/quicktip/">Quicktips</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/git/">Git</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/tools/">Tools</a></li>
    </ul>
</ul>