<ul class="list-unstyled tag-list">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=test" rel="tag">Quality</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=cucumber" rel="tag">BDD
                Cucumber</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=tdd" rel="tag">TDD</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=selenium" rel="tag">Selenium</a>
        </li>
    </ul>
</ul>
<ul class="list-unstyled tag-list">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=agile" rel="tag">Agile</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=design" rel="tag">Design</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=rest" rel="tag">REST API</a></li>
    </ul>
</ul>
<ul class="list-unstyled tag-list">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=java" rel="tag">Java</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=spring" rel="tag">Spring</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=junit" rel="tag">JUnit</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=hibernate" rel="tag">Hibernate</a></li>
    </ul>
</ul>
<ul class="list-unstyled tag-list">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=javascript" rel="tag">Javascript</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=angularjs" rel="tag">Angular</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=bootstrap" rel="tag">Bootstrap</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=nodejs" rel="tag">Node</a></li>
    </ul>
</ul>

<ul class="list-unstyled tag-list">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=unity3d" rel="tag">Unity3D</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=csharp" rel="tag">C#</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=photoshop" rel="tag">Photoshop</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=assets" rel="tag">Assets</a></li>
    </ul>
</ul>

<ul class="list-unstyled">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=other" rel="tag">Misc</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=quicktip" rel="tag">Quicktips</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=git" rel="tag">Git</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=tools" rel="tag">Tools</a></li>
    </ul>
</ul>