<ul>
    <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/test/">Quality</a></li>
    <ul>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/cucumber/">BDD
                Cucumber</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/tdd/">TDD JUnit</a></li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/selenium/">UI
                Selenium</a>
        </li>
    </ul>
</ul>
</ul>
<ul>
    <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/method/">Method</a></li>
    <ul>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/design/">Architecture</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/agile/">Agile</a></li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/api/">API</a></li>
    </ul>
</ul>
<ul>
    <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/java/">Java</a></li>
    <ul>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/springdata/">Spring Data</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/springboot/">Spring Boot</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/springbatch/">Spring
                Batch</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/junit5/">JUnit5</a></li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/junit4/">JUnit4</a></li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/java8/">Java8</a></li>
    </ul>
</ul>
<ul>
    <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/javascript/">Javascript</a></li>
    <ul>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/angularjs/">AngularJS</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/bootstrap3/">Bootstrap3</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/bootstrap2/">Bootstrap2</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/nodejs/">NodeJS</a></li>
    </ul>
</ul>

<ul>
    <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/gamedev/">GameDev</a></li>
    <ul>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/unity3d/">Unity3D</a></li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/csharp/">C#</a></li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/photoshop/">Photoshop</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/assets/">Assets</a></li>
    </ul>
</ul>
<ul>
    <li>Misc</li>
    <ul>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/git/">Git</a></li>
        <li><a class="text-reset text-decoration-none" href="https://damienfremont.com/tag/quicktip/">Quicktips</a></li>
    </ul>
</ul>