---
layout: page
title: About
permalink: /about/
redirect_from:
- /author/dfremont/

---
<div class="container my-xl-3 bg-light text-dark p-3 shadow border border-1">

    <div class="row">

        <div class="col-md-4 bg-dark text-light">
            <div class="d-flex justify-content-center align-middle pt-md-5">
                <img class="rounded-circle float-end" width="150" height="150" src="/assets/img/avatar-damien.jpg">
            </div>
        </div>

        <div class="col-md-8">

            <h1>Damien FREMONT</h1>
            <h3>Senior Developer</h3>
            <p>
                I'm a software developer and trainer. Most of my work today is focused on Tech Lead, Continuous
                Integration, Agile Methods, Testability, REST Web Services and JavaEE/Spring Architecture. I share
                theses professional experiences on my blog, and search new trends at DevoxxFr and ParisJUG. Creator of
                mobile game 'Cars 2048', I also enjoy running marathons. 
                
                Check my blog at https://damienfremont.com/dev/
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4 bg-dark text-light">

            <div>
                <h2>Contact</h2>
                <hr />
                <ul class="list-unstyled wp-container-62130c4b8662b wp-block-social-links has-normal-icon-size">
                    <li><a target="_blank" href="https://www.linkedin.com/in/damienfremont"
                            class="text-reset text-decoration-none">
                            {% include icons/linkedin.html %}
                            <span class="mx-2">LinkedIn</span></a></li>
                    <li><a target="_blank" href="https://github.com/{{ site.github_username }}"
                            class="text-reset text-decoration-none">
                            {% include icons/github.html %}
                            <span class="mx-2">Github</span></a></li>
                    <li><a target="_blank" href="http://x.com/damien_fremont"
                            class="text-reset text-decoration-none">
                            {% include icons/x.html %}
                            <span class="mx-2">X / Twitter</span></a></li>
                </ul>
            </div>

            <div>
                <h2>Education</h2>
                <hr />
                <ul>
                    <li>
                        <span>2009</span>
                        <br/>
                        <span class="fw-bold">Master's Degree, Computer Engineering</span>
                        <br/>
                        <span>Le Mans University, France</span>
                    </li>
                    <li>
                        <span>2006</span>
                        <br/>
                        <span class="fw-bold">Bachelor's degree, Electrical and Electronics</span>
                        <br/>
                        <span>Angers University, France</span>
                    </li>
                </ul>
            </div>

            <div>
                <h2>Expertise</h2>
                <hr />
                <ul>
                    <li>Backend: Java, Rest, SpringBoot</li>
                    <li>Frontend: JS, TS, React, Angluar</li>
                    <li>Test: BDD, Cucumber, Selenium</li>
                </ul>
            </div>

            <div>
                <h2>Language</h2>
                <hr />
                <ul>
                    <li>French</li>
                    <li>English</li>
                </ul>
            </div>

            <div class="text-light">
                <h2>License & certification</h2>
                <hr />
                <ul>
                    <li>
                        <a class="text-reset text-decoration-none small" target="_blank"
                            href="{{ site.baseurl }}/assets/files/damien_fremont-20240111-LANG-EN-TOEIC-960_990.pdf">
                            TOEIC (960/990) "English - List. & read." (2024) 💾
                        </a>
                    </li>
                    <li>
                        <a class="text-reset text-decoration-none small" target="_blank"
                            href="{{ site.baseurl }}/assets/files/damien_fremont-20231227-LANG-EN-IELTS-test-report">
                            IELTS (Band 6.5/9) “English - Competent User” (2023) 💾
                        </a>
                    </li>
                    <li>
                        <a class="text-reset text-decoration-none small" target="_blank"
                            href="{{ site.baseurl }}/assets/files/damien_fremont-certification-securecodewarrior-level1-20201210.pdf">
                            Secure Code Warrior - Certification - Level 1 (2020) 💾
                        </a>
                    </li>
                    <li>
                        <a class="text-reset text-decoration-none small" target="_blank"
                            href="{{ site.baseurl }}/assets/files/damien_fremont-certification-cisco-ccna1-network-basics-20070315.jpg">
                            Cisco - CCNA 1 - Networks Basics (2007) 💾
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-8 bg-light text-dark">

            <h2>Experience</h2>
            <hr />

            <div class="accordion accordion-flush" id="accordionExample">

                <!-- BNP -->

                {% include components/cv-experience-item.html
                id="exp_bnpit"
                collapse=true

                title='2024 Senior Software Engineer'
                emp_type='Permanent'
                company='BNP Paribas'
                dates="Sep 2024 to Sep 2026 · 2 yrs"
                location="🐘 Nantes, Pays de la Loire, France"
                skills="Java, JavaScript, Springboot"
                logo="/assets/files/cv-logo-bnp_paribas.jpg"
                %}

                <!-- Leboncoin -->

                {% include components/cv-experience-item.html
                id="exp_lbcargus"

                title='2022 Software Engineer (Full-Stack)'
                emp_type='Permanent'
                company='Leboncoin.fr'
                dates="Nov 2022 - Mar 2024 · 1 yr 5"
                location="🐘 Nantes, Pays de la Loire, France"
                skills="Java, JavaScript, SQL, Springboot, React, Postgres"
                logo="/assets/files/cv-logo-leboncoin.jpg"
                %}

                <!-- Best Buy -->

                {% include components/cv-experience-item.html
                id="exp_bbc"
                collapse=true

                title='2022 Senior Software Engineer (Back-End)'
                emp_type='Permanent'
                company='Best Buy Canada'
                dates="Mar 2022 - Aug 2022 · 6 mos"
                location="🍁 Vancouver, British Columbia, Canada"
                skills="Java, SpringBoot, CircuitBreaker"
                logo="/assets/files/cv-logo-best_buy_canada.jpg"
                %}

                <!-- Desjardins -->

                {% include components/cv-experience-item.html
                id="exp_desjardins"

                title='2020 Lead Developer (Back-End)'
                emp_type='Consultant'
                company='Desjardins'
                dates='Jul 2020 - Dec 2021 · 1 yr 6 mos'
                location="🍁 Montréal, Québec, Canada"
                skills="Java, Open API, SecureCodeWarrior, Cucumber, BDD, ActiveMQ"
                logo="/assets/files/cv-logo-desjardins.jpg"
                %}

                <!-- MEAE -->

                {% include components/cv-experience-item.html
                id="exp_meae_fr"

                title='2018 Software Engineer (Full-Stack)'
                emp_type='Consultant'
                company='Ministère des Affaires étrangères'
                dates='Apr 2018 - Mar 2020 · 2 yrs'
                location="🐘 Nantes, Pays de la Loire, France"
                skills="Java, TypeScript, SQL, IAM, API-GateWay, Salt, Node, React, Cucumber, BDD"
                logo="/assets/files/cv-logo-meae_fr.jpg"
                %}

                <!-- CAPGEMINI -->

                {% include components/cv-experience-item.html
                id="exp_capgemini"
                collapse=true

                title='2017 Tech Lead (Full-Stack)'
                emp_type='Permanent'
                company='Capgemini'
                dates='Nov 2017 - Feb 2018 · 4 mos'
                location="🐘 Nantes, Pays de la Loire, France"
                skills="Java, Angular, Bootstrap, GIS, GeoServer, Android"
                logo="/assets/files/cv-logo-capgemini.jpg"
                %}

                <!-- CACEIS -->

                {% include components/cv-experience-item.html
                id="exp_caceis"

                title='2015 Software Architect (DevOps)'
                emp_type='Self-employed'
                company='CACEIS'
                dates='Jan 2015 - Dec 2016 · 2 yrs'
                location="🗼 Paris, Île-de-France, France"
                skills="Java, CI/CD · AngularJs · Ansible · Jenkins · BDD · Cucumber · Maven"
                logo="/assets/files/cv-logo-caceis.jpg"
                %}

                <!-- ARTE -->

                {% include components/cv-experience-item.html
                id="exp_arte"
                collapse=true

                title='2013 Software Developer (Full-Stack)'
                emp_type='Consultant'
                company='ARTE'
                dates='Jul 2013 - Dec 2014 · 1 yr 6 mos'
                location="🗼 Paris, Île-de-France, France"
                skills="Java · Bootstrap (Framework) · Spring MVC · Spring · Selenium"
                logo="/assets/files/cv-logo-arte.jpg"
                %}

                <!-- SPEEDY -->

                {% include components/cv-experience-item.html
                id="exp_speedy"
                collapse=true

                title='2013 Software Developer (Full-Stack)'
                emp_type='Consultant'
                company='SPEEDY'
                dates='Feb 2013 - Jul 2013 · 6 mos'
                location="🗼 Paris, Île-de-France, France"
                skills="Java · AngularJS · Selenium · Hibernate - RESTful API"
                logo="/assets/files/cv-logo-speedy.jpg"
                %}

                <!-- OXIANE -->

                {% include components/cv-experience-item.html
                id="exp_oxiane"
                collapse=true

                title='2012 Consultant and Trainer'
                emp_type='Permanent'
                company='OXIANE'
                dates='Sep 2012 - Jan 2013 · 5 mos'
                location="🗼 Paris, Île-de-France, France"
                skills="Java · SpringBatch"
                logo="/assets/files/cv-logo-oxiane.jpg"
                %}

                <!-- BNP -->

                {% include components/cv-experience-item.html
                id="exp_bnp1"

                title='2009 Junior Software Architect (Back-End)'
                emp_type='Consultant'
                company='BNP Paribas'
                dates='Sep 2009 - Aug 2012 · 3 yrs'
                location="🗼 Paris, Île-de-France, France"
                skills="Java, SQL, JavaEE, Hibernate, Spring, SpringBatch, Oracle, SOAP"
                logo="/assets/files/cv-logo-bnp_paribas.jpg"
                %}

                <!-- LDC -->

                {% include components/cv-experience-item.html
                id="exp_ldc"
                collapse=true

                title='2002 Line worker (agri-food)'
                emp_type='Seasonal'
                company='LDC Groupe'
                dates='Jul 2002 - Aug 2007 · 5 yrs'
                location="🐖 Le Mans, Pays de la Loire, France"
                skills="line worker, slaughterhouse"
                logo="/assets/files/cv-logo-ldc.jpg"
                %}

            </div>

            <h2>Project</h2>
            <hr />

            <div class="accordion accordion-flush" id="accordionExample">

                {% include components/cv-experience-item.html
                id="proj_blog"

                title='2012 Dev Tutorials (dev blog)'
                dates='Jan 2012 - Present · 15 yrs'
                skills="dev, web, java, html, javascript, typescript"
                logo="/assets/files/cv-logo-blog.jpg"
                url='https://www.damienfremont.com/dev/'
                %}

                {% include components/cv-experience-item.html
                id="proj_g1"
                collapse=true

                title='2017 Cars 2048 (mobile game)'
                dates='Jun 2017 - Oct 2017 · 4 mos'
                skills="gamedev, android, unity3d, blender3d, photoshop"
                logo="/assets/files/cv-logo-googleplay.jpg"
                url='https://play.google.com/store/apps/details?id=com.atalantoo.game20483dcars'
                %}

            </div>

        </div>
    </div>
</div>

<div class="container my-xl-3">

    <div class="pt-3">
        <h4>Articles and presentations</h4>
        <p>
            Here are some articles and technical reports I’ve written. See my blog for many more articles.
        </p>
        <p>
            <a href="https://damienfremont.com/dev" target="_blank"><img loading="lazy" class="rounded m-3"
                    src="{{ site.baseurl }}/assets/img/link_blog11.png" alt="link_github" width="240" height="80"></a>

            <a href="https://github.com/damienfremont" target="_blank"><img loading="lazy" class="rounded m-3"
                    src="{{ site.baseurl }}/assets/img/link_github.png" alt="link_github" width="240" height="80"></a>

            <a href="https://www.codingame.com/profile/bd82f38e45e2ca1d93dfebdd537373540086391" target="_blank"><img
                    loading="lazy" class="rounded m-3" src="{{ site.baseurl }}/assets/img/link_codingame.png"
                    alt="link_github" width="240" height="80"></a>
        </p>
    </div>
    
</div>