---
layout: dev/default
permalink: /dev/
redirect_from:
  - /tutorials/
  - /feed/
  - /category/posts/tutorials/
  - /devblog/
  - /blog/
---

<div class="row dev-head p-3 p-md-5 p-xl-3 p-xxl-5">

    <div class="col-md-6 col-lg-4 col-xl-3">
        <h4 class="pt-0 pb-3">Top Posts</h4>
        {% assign posts = site.categories['topdesign'] %}
        {% include dev/posts-small.html posts=posts limit=3 %}
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
        <h4 class="pt-0 pb-3">Top Posts in Java</h4>
        {% assign posts = site.categories['topjava'] %}
        {% include dev/posts-small.html posts=posts limit=3 %}
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
        <h4 class="pt-0 pb-3">Top Posts in Cucumber</h4>
        {% assign posts = site.categories['topcucumber'] %}
        {% include dev/posts-small.html posts=posts limit=3 %}
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
        <h4 class="pt-0 pb-3">Top Posts in JS</h4>
        {% assign posts = site.categories['topjavascript'] %}
        {% include dev/posts-small.html posts=posts limit=3 %}
    </div>

</div>

<div class="row d-none d-md-inline">&nbsp;</div>

<div class="row p-3 p-md-5 p-xl-3 p-xxl-5">
    <div class="d-none d-sm-none d-md-none d-lg-block col-lg-3">

        <h4 class="pt-0 pb-3">Tutorials</h4>
        {% include dev/tutorials.html %}

    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">

        <h2 class="pt-0 pb-3">Latest Posts</h2>
        {% assign posts = site.posts %}
        {% assign limit = 10 %}
        {% include dev/posts.html posts=posts limit=limit %}
        <p class="pagination justify-content-center p-3">
            <a class="btn btn-primary" href="{{ site.baseurl }}/posts/page2/">More posts like this
                &raquo</a>
        </p>

    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 offset-lg-1">

        <h4 class="pt-0 pb-3">Follow on</h4>
        {% include dev/follow.html %}

    </div>
</div>