---
layout: page
permalink: /games/
---

<style>
    body:has(.bg-games) {
        background-image: linear-gradient(to bottom, black, blue);
    }
</style>

<div class="container bg-games">

    <h2 class="mt-4 pt-0 fw-bold text-secondary"><strong>Featured Games</strong></h2>

    <div class="d-flex flex-wrap mb-4 mt-4">

        {% include components/game-card.html 
            url="https://store.steampowered.com/app/1920830/Fractal_City/"
            title="Fractal City"
            type="PLATEFORMER"
            img="/assets/img/site-games-fractalcity-card.jpg.512x.jpg"
            steam_url="https://store.steampowered.com/app/1920830/Fractal_City/"
        %}

        {% include components/game-card.html 
            url="https://play.google.com/store/apps/details?id=com.atalantoo.game20483dcars"
            title="Cars 2048"
            type="PUZZLE"
            img="/assets/img/site-games-cars20482-card.jpg.512x.jpg"
            googleplay_url="https://play.google.com/store/apps/details?id=com.atalantoo.game20483dcars"
        %}

        {% include components/game-card.html 
            discontinued=true

            url="https://play.google.com/store/apps/details?id=com.michthegamedev.zombieinvazion"
            title="Zombies Must Die (colab)"
            type="SHOOTER"
            img="/assets/img/site-games-zombiesmustdie-card.jpg.512x.jpg"
            googleplay_url="https://play.google.com/store/apps/details?id=com.michthegamedev.zombieinvazion"
        %}

    </div>

    <div class="d-grid gap-2 d-sm-flex">
        <button class="btn btn-primary btn-lg bg-gradient fw-bold rounded-pill" type="button" data-toggle="collapse" data-bs-toggle="collapse"
            data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
            See All Games</button>
    </div>

    <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="d-flex flex-wrap mb-4 mt-4">

        {% include components/game-card.html 
            discontinued=true

            url="https://play.google.com/store/apps/details?id=com.damienfremont.project2048cars2"
            title="Cars 2048 Reloaded (discontinued)"
            type="PUZZLE"
            img="/assets/img/site-games-cars2048-card.jpg.512x.jpg"
            googleplay_url="https://play.google.com/store/apps/details?id=com.damienfremont.project2048cars2"
        %}

        {% include components/game-card.html 
            discontinued=true

            title="Bikes 2048 (discontinued)"
            type="PUZZLE"
            img="/assets/img/site-games-bikes2048-card.jpg.512x.jpg"
        %}

        </div>
    </div>

    <h2 class="mt-4 pt-0 fw-bold text-secondary"><strong>Press Kits</strong></h2>

    <div class="d-flex flex-row bd-highlight mb-4 mt-4">

        <a class="btn btn-primary btn-lg bg-gradient fw-bold rounded-pill" href="{{ site.baseurl }}/upload/presskits/damienfremont-cars2048-presskit.zip">Cars 2048 (press kit)</a>

    </div>

</div>