---
layout: default
---

<div class="row p-3 p-md-5 p-xl-3 p-xxl-5">
    <div class="d-none d-sm-none d-md-none d-lg-block col-lg-3">

        <h2 class="pt-0 pb-3">Popular topics</h2>
        {% include tutorials.html %}

    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">

        <h2 class="pt-0 pb-3">Latest Posts</h2>
        {% assign posts = site.posts %}
        {% assign limit = 15 %}
        {% include posts.html posts=posts limit=limit %}
        <p class="pagination justify-content-center p-3">
            <a class="btn btn-secondary btn-lg fw-bold rounded-pill" href="{{ site.baseurl }}/posts/">ALL POSTS &#62;</a>
        </p>

    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 offset-lg-1">

        <h2 class="pt-0 pb-3">Top Posts</h2>
        {% assign posts = site.categories['top5'] %}
        {% include posts-small.html posts=posts %}

        <br/>

        <h4 class="pt-0 pb-3">Follow on</h4>
        {% include follow.html %}

    </div>
</div>

<div class="row dev-head p-3 p-md-5 p-xl-3 p-xxl-5">

    <div class="col-md-6 col-lg-4 col-xl-3">
        <h4 class="pt-0 pb-3">Top Posts in Tech</h4>
        {% assign posts = site.categories['topdesign'] %}
        {% include posts-small.html posts=posts %}
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
        <h4 class="pt-0 pb-3">Top Posts in Java</h4>
        {% assign posts = site.categories['topjava'] %}
        {% include posts-small.html posts=posts %}
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
        <h4 class="pt-0 pb-3">Top Posts in Cucumber</h4>
        {% assign posts = site.categories['topcucumber'] %}
        {% include posts-small.html posts=posts %}
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
        <h4 class="pt-0 pb-3">Top Posts in JS</h4>
        {% assign posts = site.categories['topjavascript'] %}
        {% include posts-small.html posts=posts %}
    </div>

</div>