<div class="row border rounded p-3 mt-5">

    <div class="col-4 cold-md-2 p-3">
        <img class="rounded-circle float-end" width="96" height="96" src="{{ site.baseurl }}/assets/img/avatar-damien.jpg" />
    </div>

    <div class="col-8 cold-md-10">
        <h5>Hi, I'm <a class="text-reset" href="{{ site.baseurl }}/about">Damien</a></h5>

        <p class="text-muted">
            Software Developer
        </p>
        <p>
            <a class="p-2 text-reset text-decoration-none" href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" target="_blank" rel="noopener">
                {% include icons/linkedin.html %}
            </a>
            <a class="p-2 text-reset text-decoration-none" href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener">
                {% include icons/github.html %}
            </a>
            <a class="p-2 text-reset text-decoration-none" href="https://x.com/{{ site.twitter_username }}" target="_blank" rel="noopener">
                {% include icons/x.html %}
            </a>
        </p>
        <p class="text-muted">
            Founder of this blog, love Java and Open Source stuff. Follow him on Twitter.
        </p>
    </div>

</div>
