<div class="bg-body-tertiary px-4 py-3">
        
    <h4 class="pt-0">Follow on</h4>

<ul class="list-unstyled wp-container-62130c4b8662b wp-block-social-links has-normal-icon-size">

    <li><a target="_blank" href="https://www.linkedin.com/in/damienfremont"
            class="text-reset text-decoration-none social-link">
            {% include icons/linkedin.html %}
            <span class="mx-2">LinkedIn</span></a></li>
    
    <li><a target="_blank" href="https://github.com/{{ site.github_username }}"
            class="text-reset text-decoration-none social-link">
            {% include icons/github.html %}
            <span class="mx-2">Github</span></a></li>
    
    <li><a target="_blank" href="http://x.com/damien_fremont"
            class="text-reset text-decoration-none social-link">
            {% include icons/x.html %}
            <span class="mx-2">X / Twitter</span></a></li>
    
    <li><a target="_blank" href="https://www.facebook.com/DamienFremontBlog/"
            class="text-reset text-decoration-none social-link">
            {% include icons/facebook.html %}
            <span class="mx-2">Facebook</span></a></li>
    
    <li><a target="_blank" href="https://play.google.com/store/apps/dev?id=8294041563468906844"
            class="text-reset text-decoration-none social-link">
            {% include icons/googleplay.html %}
            <span class="mx-2">GooglePlay</span></a></li>

{% if site.social.discord_invite %}
    <li><a target="_blank" href="https://discord.gg/{{ site.social.discord_invite }}"
            class="text-reset text-decoration-none social-link">
            {% include icons/discord.html %}
            <span class="mx-2">Discord Server</span></a></li>
{% endif %}

</ul>

</div>