<ul class="list-unstyled wp-container-62130c4b8662b wp-block-social-links has-normal-icon-size">

    <li><a target="_blank" href="https://www.linkedin.com/in/damienfremont"
            class="text-reset text-decoration-none social-link">
            {% include svg/icon-linkedin.svg %}
            <span>LinkedIn</span></a></li>
    
    <li><a target="_blank" href="https://github.com/{{ site.github_username }}"
            class="text-reset text-decoration-none social-link">
            {% include svg/icon-github.svg %}
            <span>Github</span></a></li>
    
    <li><a target="_blank" href="http://x.com/damien_fremont"
            class="text-reset text-decoration-none social-link">
            {% include svg/icon-x.svg %}
            <span>X / Twitter</span></a></li>
    
    <li><a target="_blank" href="https://www.facebook.com/DamienFremontBlog/"
            class="text-reset text-decoration-none social-link">
            {% include svg/icon-facebook.svg %}
            <span>Facebook</span></a></li>
    
    <li><a target="_blank" href="https://play.google.com/store/apps/dev?id=8294041563468906844"
            class="text-reset text-decoration-none social-link">
            {% include svg/icon-googleplay.svg %}
            <span>GooglePlay</span></a></li>
    
</ul>