<div class="bg-body-tertiary p-4">

    <h4 class="pt-0 pb-3">Support this project!</h4>

    <ul class="list-unstyled">

        <li>
            <a class="text-reset text-limit-line-1"
                href="https://buymeacoffee.com/{{ site.funding.buy_me_a_coffee }}" target="_blank">
                {% include icons/buy-me-a-coffee.html %}
                <span class="">buymeacoffee.com/{{ site.funding.buy_me_a_coffee }}</span>
            </a>
        </li>

        <!-- TODO: pateron.com/damienfremont -->

        <!-- TODO: ko-fi.com/damienfremont -->

        <!-- TODO: paypal/dadavinblanc -->

    </ul>



</div>