<div class="bg-body-tertiary px-4 py-3">

    <h4 class="pt-0">Support this project!</h4>

    <ul class="list-unstyled">

        {% if site.funding.buymeacoffee %}
        <li>
            <a class="text-reset text-decoration-none text-limit-line-1"
                href="https://buymeacoffee.com/{{ site.funding.buymeacoffee }}" target="_blank">
                {% include icons/buy-me-a-coffee.html %}
                <span class="">buymeacoffee.com/{{ site.funding.buymeacoffee }}</span>
            </a>
        </li>
        {% endif %}

        {% if site.funding.paypal_me %}
        <li>
            <a class="text-reset text-decoration-none text-limit-line-1"
                href="https://www.paypal.com/paypalme/{{ site.funding.paypal_me }}" target="_blank">
                {% include icons/paypal.html %}
                <span class="">paypal.com/{{ site.funding.paypal }}</span>
            </a>
        </li>
        {% endif %}

        {% if site.funding.paypal_donate %}
        <li>
            <a class="text-reset text-decoration-none text-limit-line-1"
                href="https://www.paypal.com/donate/?hosted_button_id={{ site.funding.paypal_donate }}" target="_blank">
                {% include icons/paypal.html %}
                <span class="">paypal.com/{{ site.funding.paypal }}</span>
            </a>
        </li>
        {% endif %}

        {% if site.funding.itchio %}
        <li>
            <a class="text-reset text-decoration-none text-limit-line-1"
                href="https://{{ site.funding.itchio }}.itch.io/" target="_blank">
                {% include icons/itch-io.html %}
                <span class="">itchio.com/{{ site.funding.itchio }}</span>
            </a>
        </li>
        {% endif %}

        <!-- TODO: patreon.com/damienfremont -->
        <!-- TODO: ko-fi.com/damienfremont -->
        
    </ul>

</div>