<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta -->
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <title>
        {% if page.title %} {{ page.title }} &middot; {{ site.title }} {% else %} {{ site.title }} &middot; {{ site.description }} {% endif %}
    </title>

    <!-- Style -->
    {% include head-icon.html %}
    <meta name="theme-color" content="{{ site.browsercolor }}" />
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
        
    <!-- Custom -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/site.css?version={{ site.version }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css?version={{ site.version }}">   

{% include head-analytics.html %}

{% include head-wordpress.html %}

</head>