<header class="site-banner link-underline link-underline-opacity-0">
    <div class="container">

        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 nav-link fw-bold" href="/posts/">Blog</a>
                <a class="p-2 nav-link fw-bold" href="/dev/">Dev</a>
                <a class="p-2 nav-link fw-bold" href="/games/">Games</a>
                <a class="p-2 nav-link fw-bold" href="https://github.com/damienfremont" target="_blank"
                    rel="noopener">@GitHub</a>
                <a class="p-2 nav-link fw-bold" href="https://x.com/damien_fremont" target="_blank" rel="noopener">@Twitter</a>
                <a class="p-2 nav-link fw-bold" href="https://linktr.ee/frimoussethecat" target="_blank"
                    rel="noopener">@FrimousseTheCat</a>
                <a class="p-2 nav-link fw-bold" href="/tag/?query=java">Java</a>
                <a class="p-2 nav-link fw-bold" href="/tag/?query=javascript">Javascript</a>
                <a class="p-2 nav-link fw-bold" href="/tag/?query=cucumber">Cucumber</a>
                <a class="p-2 nav-link fw-bold" href="/tag/?query=unity3d">Unity3D</a>
            </nav>
        </div>

    </div>
</header>