<header class="navbar navbar-expand-md navbar-dark bd-navbar sticky-top p-0">
    <nav class="container-fluid d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">

        <!-- Left -->
        <a class="navbar-brand ml-2 my-2" href="{{ site.baseurl }}/" rel="home">
            <img style="height: 40px; width: auto;" src="{{ site.baseurl }}/assets/img/navbar-brand-70x.png" />
        </a>

        <!-- Right -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->

        <div class="collapse navbar-collapse" id="navbarText">
            <div class="navbar-nav me-auto">

            </div>
            <ul class="navbar-nav fw-bold">
                <div class="nav-item text-decoration-none">
                    <a class="nav-link active" href="{{ site.baseurl }}/search" rel="home">
                        {% include svg/icon-search.html %}
                    </a>
                </div>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ site.baseurl }}/" rel="home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ site.baseurl }}/dev">DEV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ site.baseurl }}/games">GAMES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ site.baseurl }}/about">ABOUT</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link active p-2" href="https://www.linkedin.com/in/{{ site.linkedin_username }}/"
                        target="_blank" rel="noopener">
                        {% include svg/icon-linkedin.html %}
                    </a>
                </li>
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link active p-2" href="https://github.com/{{ site.github_username }}" target="_blank"
                        rel="noopener">
                        {% include svg/icon-github.html %}
                    </a>
                </li>
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link active p-2" href="https://twitter.com/{{ site.twitter_username }}"
                        target="_blank" rel="noopener">
                        {% include svg/icon-twitter.html %}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>