<div class="row">
    <div class="col-md-6 my-3">

        <h2 class="mt-4">Top Posts in Tech</h2>

        {% assign posts = site.categories['topdesign'] %}
        {% include components/post-list.html posts=posts %}

    </div>
    <div class="col-md-6 my-3">

        <h2 class="mt-4">Top Posts in Java</h2>

        {% assign posts = site.categories['topjava'] %}
        {% include components/post-list.html posts=posts %}

    </div>
</div>
<div class="row">
    <div class="col-md-6 my-3">

        <h2 class="mt-4">Top Posts in Cucumber</h2>

        {% assign posts = site.categories['topcucumber'] %}
        {% include components/post-list.html posts=posts %}

    </div>
    <div class="col-md-6 my-3">

        <h2 class="mt-4">Top Posts in Javacript</h2>

        {% assign posts = site.categories['topjavascript'] %}
        {% include components/post-list.html posts=posts %}

    </div>
</div>