<div class="bg-body-tertiary p-4">

<div class="px-3">
    <ul class="list-unstyled site-tag-list">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/posts/" rel="tag">{% include icons/tags-16.html %} All Tutorials</a></li>
    </ul>
</div>

<hr/>

<h3 class="pt-0">Popular Topics</h3>
<div class="px-3">

<ul class="list-unstyled site-tag-list">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=test" rel="tag">{% include icons/tag-16.html %} quality</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=cucumber" rel="tag">{% include icons/tag-16.html %} bdd</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=cucumber" rel="tag">{% include icons/tag-16.html %} cucumber</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=tdd" rel="tag">{% include icons/tag-16.html %} tdd</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=selenium" rel="tag">{% include icons/tag-16.html %} selenium</a>
        </li>
    </ul>
</ul>
<ul class="list-unstyled site-tag-list">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=agile" rel="tag">{% include icons/tag-16.html %} agile</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=design" rel="tag">{% include icons/tag-16.html %} design</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=rest" rel="tag">{% include icons/tag-16.html %} rest</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=rest" rel="tag">{% include icons/tag-16.html %} api</a></li>
    </ul>
</ul>
<ul class="list-unstyled site-tag-list">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=java" rel="tag">{% include icons/tag-16.html %} java</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=spring" rel="tag">{% include icons/tag-16.html %} spring</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=junit" rel="tag">{% include icons/tag-16.html %} junit</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=hibernate" rel="tag">{% include icons/tag-16.html %} hibernate</a></li>
    </ul>
</ul>
<ul class="list-unstyled site-tag-list">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=javascript" rel="tag">{% include icons/tag-16.html %} javascript</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=angularjs" rel="tag">{% include icons/tag-16.html %} angular</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=bootstrap" rel="tag">{% include icons/tag-16.html %} bootstrap</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=nodejs" rel="tag">{% include icons/tag-16.html %} node</a></li>
    </ul>
</ul>

<ul class="list-unstyled site-tag-list">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=unity3d" rel="tag">{% include icons/tag-16.html %} unity3d</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=csharp" rel="tag">{% include icons/tag-16.html %} csharp</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=photoshop" rel="tag">{% include icons/tag-16.html %} photoshop</a>
        </li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=assets" rel="tag">{% include icons/tag-16.html %} assets</a></li>
    </ul>
</ul>

<ul class="list-unstyled">
    <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=other" rel="tag">{% include icons/tag-16.html %} misc</a></li>
    <ul class="list-unstyled">
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=quicktip" rel="tag">{% include icons/tag-16.html %} quicktips</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=git" rel="tag">{% include icons/tag-16.html %} git</a></li>
        <li><a class="text-reset text-decoration-none" href="{{ site.baseurl }}/tag/?query=tools" rel="tag">{% include icons/tag-16.html %} tools</a></li>
    </ul>
</ul>

</div>

</div>
