<div class="bg-body-tertiary p-4">

<div class="px-3">
    <ul class="list-unstyled site-tag-list">
        <li><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/posts/">{% include icons/tags-16.html %} All Tutorials</a></li>
    </ul>
</div>

<hr/>

<h3 class="pt-0">Popular Topics</h3>
    <div class="px-3">

<ul class="list-unstyled site-tag-list">

    <li class="my-2"><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/tag/?query=java">{% include icons/tag-16.html %} java</a></li>
    <li class="my-2"><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/tag/?query=cucumber">{% include icons/tag-16.html %} bdd, cucumber</a></li>
    <li class="my-2"><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/tag/?query=javascript">{% include icons/tag-16.html %} javascript</a></li>
    <li class="my-2"><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/tag/?query=angularjs">{% include icons/tag-16.html %} angularjs</a></li>
    <li class="my-2"><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/tag/?query=bootstrap">{% include icons/tag-16.html %} bootstrap</a></li>
    <li class="my-2"><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/tag/?query=unity3d">{% include icons/tag-16.html %} unity3d</a></li>
    <li class="my-2"><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/tag/?query=junit">{% include icons/tag-16.html %} junit</a></li>
    <li class="my-2"><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/tag/?query=agile">{% include icons/tag-16.html %} agile</a></li>
    <li class="my-2"><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/tag/?query=rest">{% include icons/tag-16.html %} rest, api</a></li>
    <li class="my-2"><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/tag/?query=git">{% include icons/tag-16.html %} git</a></li>
    <li class="my-2"><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/tag/?query=spring">{% include icons/tag-16.html %} spring</a></li>
    <li class="my-2"><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/tag/?query=design">{% include icons/tag-16.html %} design</a></li>
    <li class="my-2"><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/tag/?query=photoshop">{% include icons/tag-16.html %} photoshop</a></li>
    <li class="my-2"><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/tag/?query=nodejs">{% include icons/tag-16.html %} nodejs</a></li>
    <li class="my-2"><a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/tag/?query=selenium">{% include icons/tag-16.html %} selenium</a></li>

</ul>

    </div>
</div>
