<div class="bg-body-tertiary p-4">

<div class="px-3">
    <ul class="list-unstyled site-tag-list">
        <li>
            <a class="text-reset text-decoration-none my-3" rel="tag" href="{{ site.baseurl }}/posts/">
                {% include icons/tags-16.html %} All Tutorials ({{ site.posts.size }})
            </a>
        </li>
    </ul>
</div>

<hr/>

<h3 class="pt-0">Popular Topics</h3>
    <div class="px-3">
        <ul class="list-unstyled site-tag-list">
            <li class="my-2">{% include components/tag.html tag="java" %}</li>
            <li class="my-2">{% include components/tag.html tag="cucumber" %} BDD</li>
            <li class="my-2">{% include components/tag.html tag="javascript" %}</li>
            <li class="my-2">{% include components/tag.html tag="angularjs" %}</li>
            <li class="my-2">{% include components/tag.html tag="bootstrap" %}</li>
            <li class="my-2">{% include components/tag.html tag="unity3d" %}</li>
            <li class="my-2">{% include components/tag.html tag="junit" %}</li>
            <li class="my-2">{% include components/tag.html tag="agile" %}</li>
            <li class="my-2">{% include components/tag.html tag="rest" %} API</li>
            <li class="my-2">{% include components/tag.html tag="git" %}</li>
            <li class="my-2">{% include components/tag.html tag="spring" %}</li>
            <li class="my-2">{% include components/tag.html tag="design" %}</li>
            <li class="my-2">{% include components/tag.html tag="photoshop" %}</li>
            <li class="my-2">{% include components/tag.html tag="nodejs" %}</li>
            <li class="my-2">{% include components/tag.html tag="selenium" %}</li>
        </ul>
    </div>
</div>
