/* PALETTE (BOOTSTRAP) */

/* :root {
    --bs-body-color: #fff;
    --bs-body-bg: #204a72;
    --bs-primary: #123b62;
    --bs-dark: rgb(18, 59, 98);
    --bs-dark-rgb: 18, 59, 98;
    --bs-light: rgb(253, 245, 226);
    --bs-light-rgb: 253, 245, 226;
} */

:root {
    --code-bg: rgb(70, 75, 85);
    --code-color: rgb(201, 209, 217);
    --bs-primary: #123b62;
    --shadow-bg: rgb(70, 75, 85);
}


/* SITE */

.bd-navbar {
    padding:.75rem 0;
    background-color: #0f3b68;
}
.bd-navbar .navbar-toggler {
    padding:0;
    border:0
   }

.navbar .navbar-brand img {
    height: 40px;
    width: 40px;
}

.navbar .navbar-nav-svg {
    width: 1rem;
    height: 1rem
}

.dev-head {
    background-color: #171b1e;
}

header {
    filter: drop-shadow(0px 0px 2px var(--shadow-bg));
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

/* HOME */

.bg-red {
    background-color: #f21313;
}

.card {
    filter: drop-shadow(2px 2px 3px var(--shadow-bg));
}

/* INDEX */

.text-limit-line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.text-limit-line-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/* POST */

img[alt=post-thumbnail], img[alt=post-image], .post-content img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

img[alt=post-thumbnail] {
    border-radius: 16px;
    border-bottom: 4px solid var(--shadow-bg);
    border-right: 4px solid var(--shadow-bg);
}

.post-content a {
    color: var(--code-color);
    border-bottom: 1px dotted;
    text-decoration: none;
}
.post-content a:hover {
    border-bottom: 1px solid;
}

/* CODE */

code.language-plaintext, pre.highlight {
    border-radius: 6px;
}

code.language-plaintext {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: var(--code-bg);
    color: var(--code-color);
}

pre.highlight {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #161b22 !important;
}

/* PAGINATION */

.page-item .page-link {
    color: var(--shadow-bg);
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

/* TAGS */

.tag-list a {
    text-decoration: none;
}
.tag-list a:hover {
    border-bottom: 1px solid;
}

/* HEADER */

.summary-small h6 {
    text-decoration: none;

}
.summary-small:hover h6 {
    text-decoration: underline;
}

.summary-small img {
    width: 90px;
    height: 45px;
    object-fit: cover;

    border-bottom: 2px solid var(--shadow-bg);
    border-right: 2px solid var(--shadow-bg);
}

.summary img {
    width: 270px;
    height: 150px;
    object-fit: cover;
}

/* SOCIAL */

a.social-link span {
    text-decoration: none;
}
a.social-link:hover span {
    border-bottom: 1px solid;
}
