/* PALETTE (BOOTSTRAP) */

/* :root {
    --bs-body-color: #fff;
    --bs-body-bg: #204a72;
    --bs-primary: #123b62;
    --bs-dark: rgb(18, 59, 98);
    --bs-dark-rgb: 18, 59, 98;
    --bs-light: rgb(253, 245, 226);
    --bs-light-rgb: 253, 245, 226;
} */

:root {
    --code-bg: rgb(70, 75, 85);
    --code-color: rgb(201, 209, 217);
}


/* SITE */

.bd-navbar {
    padding:.75rem 0;
    background-color: #0f3b68;
}
.bd-navbar .navbar-toggler {
    padding:0;
    border:0
   }

.navbar .navbar-brand img {
    height: 40px;
    width: 40px;
}

.navbar .navbar-nav-svg {
    width: 1rem;
    height: 1rem
}

/* INDEX */

.text-limit-line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.text-limit-line-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/* POST */

img[alt=post-thumbnail], img[alt=post-image], .post-content img {
    width: 100%;
    height: auto
}


/* CODE */

code.language-plaintext, pre.highlight {
    border-radius: 6px;
}

code.language-plaintext {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: var(--code-bg);
    color: var(--code-color);
}

pre.highlight {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #161b22 !important;
}