body {
    color: #FFF;
}

body {
    background-size: 1500px;
    background-color: #002a54 !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}


/* POST */

img[alt=post-thumbnail] {
    width: 100%;
    height: auto
}

img[alt=attachment] {
    width: 100%;
    height: auto
}

.post h1 {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    img[alt=post-thumbnail] {
        margin-bottom: 40px;
    }
}

pre.highlight {
    background-color: rgb(22, 30, 38);
    padding: 16px;
}

code.language-plaintext {
    background-color: rgb(22, 30, 38);
    color: #FFF;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
}