/* PALETTE */

:root {

    --violet: #712cf9;
    --violet-light: #9a67ff;

    /* BOOTSTRAP */
    --bs-primary: var(--violet);

    /* SITE */
    --navbar-color: #FFF;
    --navbar-bg: var(--violet);
    --site-box-shadow: #0000001a;

    /* CODE */
    --code-bg: rgb(70, 75, 85);
    --code-color: rgb(201, 209, 217);
}

/* BOOTSTRAP */

.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.bg-primary {
    background-color: var(--bs-primary) !important;
}

.bi {
    width: 1em;
    height: 1em;
    fill: currentcolor;
}

/* HEADER NAVBAR */

.site-navbar {
    background-color: var(--navbar-bg);
}

.site-navbar .navbar-toggler,
.site-navbar .nav-link,
.site-navbar #bd-theme {
    color: var(--navbar-color);
}

.site-navbar .nav-link svg,
.site-navbar #bd-theme svg {
    height: 1.5rem;
    width: 1.5rem;
}

.site-navbar .navbar-toggler .bi {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 576px) {
    .site-navbar .theme-switch #bd-theme.btn {
        padding-left: 0px !important;
    }
}
.site-navbar .theme-switch #bd-theme.btn {
    font-weight: 700 !important;
}

/* HEADER BANNER */

.site-navbar,
.site-banner {
    box-shadow: 0 -10px 20px 10px var(--site-box-shadow);
}

.site-banner a {
    color: var(--violet-light);
}

/* TYPOGRAPHY */

.text-limit-line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.text-limit-line-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/* POST */

img[alt=post-thumbnail], img[alt=post-image], .post-content img {
    border-radius: 6px;
    width: 100%;
}

img[alt=post-thumbnail] {
    border-radius: 16px;
    border-bottom: 4px solid var(--shadow-bg);
    border-right: 4px solid var(--shadow-bg);
}

/* CODE */

code.language-plaintext, pre.highlight {
    border-radius: 6px;
}

code.language-plaintext {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: var(--code-bg);
    color: var(--code-color);
}

pre.highlight {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #161b22 !important;
}

/* TAGS */

.site-tag-list a {
    text-decoration: none;
}
.site-tag-list a:hover {
    border-bottom: 1px solid;
}

/* REMOVEME: HEADER */

.summary-small h6 {
    text-decoration: none;

}
.summary-small:hover h6 {
    text-decoration: underline;
}

.summary-small img {
    width: 90px;
    height: 45px;
    object-fit: cover;

    border-bottom: 2px solid var(--shadow-bg);
    border-right: 2px solid var(--shadow-bg);
}

/* REMOVEME: SOCIAL */

a.social-link span {
    text-decoration: none;
}
a.social-link:hover span {
    border-bottom: 1px solid;
}

/* SEARCH */

ul#search-results li {
    list-style-type: none;
}

/* NAV SCROLLER */

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}
