/* PALETTE (BOOTSTRAP) */

:root {
    --bs-primary: #2b3641;;

    --code-bg: rgb(70, 75, 85);
    --code-color: rgb(201, 209, 217);
    --shadow-bg: rgb(70, 75, 85);
    --navbar-bg: #2b3641;
}

/* SITE */

.bd-navbar {
    padding:.75rem 0;
    background-color: var(--navbar-bg);
}
.bd-navbar .navbar-toggler {
    padding:0;
    border:0
}

.navbar .navbar-brand img {
    height: 40px;
    width: 40px;
}


.dev-head {
    background-color: #171b1e;
}

header {
    filter: drop-shadow(0px 0px 2px var(--shadow-bg));
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

/* HOME */

.bg-red {
    background-color: #f21313;
}

.card {
    filter: drop-shadow(2px 2px 3px var(--shadow-bg));
}

/* INDEX */

.text-limit-line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.text-limit-line-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/* POST */

img[alt=post-thumbnail], img[alt=post-image], .post-content img {
    border-radius: 6px;
    width: 100%;
}

img[alt=post-thumbnail] {
    border-radius: 16px;
    border-bottom: 4px solid var(--shadow-bg);
    border-right: 4px solid var(--shadow-bg);
}

.post-content a {
    color: var(--code-color);
    border-bottom: 1px dotted;
    text-decoration: none;
}

.post-content a:hover {
    border-bottom: 1px solid;
}

/* CODE */

code.language-plaintext, pre.highlight {
    border-radius: 6px;
}

code.language-plaintext {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: var(--code-bg);
    color: var(--code-color);
}

pre.highlight {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #161b22 !important;
}

/* PAGINATION */

.page-item .page-link {
    color: var(--shadow-bg);
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

/* TAGS */

.tag-list a {
    text-decoration: none;
}
.tag-list a:hover {
    border-bottom: 1px solid;
}

/* HEADER */

.summary-small h6 {
    text-decoration: none;

}
.summary-small:hover h6 {
    text-decoration: underline;
}

.summary-small img {
    width: 90px;
    height: 45px;
    object-fit: cover;

    border-bottom: 2px solid var(--shadow-bg);
    border-right: 2px solid var(--shadow-bg);
}

/* SOCIAL */

a.social-link span {
    text-decoration: none;
}
a.social-link:hover span {
    border-bottom: 1px solid;
}

/* SEARCH */

ul#search-results li {
    list-style-type: none;
}

/* NAV SCROLLER */

.site-header-section {
    background-color: var(--navbar-bg);
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}
