<!-- parameter: paginator -->

{% if paginator.total_pages > 1 %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center fw-bold">

        <!-- Prev -->

        {% if paginator.previous_page %}
        <li class="page-item">
            <a class="page-link rounded-start-pill" href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous">
                <span aria-hidden="true">&#60; Prev</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link rounded-start-pill" href="#" aria-label="Previous">
                <span aria-hidden="true">&#60; Prev</span>
            </a>
        </li>
        {% endif %}

        <!-- Blocks -->

        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page }}</a>
        </li>
            {% elsif page == 1 %}
        <li class="page-item">
            <a class="page-link" href="{{ '/posts/' | relative_url }}">{{ page }}</a>
        </li>
            {% else %}
        <li class="page-item">
            <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
        </li>
            {% endif %}
        {% endfor %}

        <!-- Next -->

        {% if paginator.next_page %}
        <li class="page-item">
            <a class="page-link rounded-end-pill" href="{{ paginator.next_page_path | relative_url }}" aria-label="Next">
                <span aria-hidden="true">Next &#62;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link rounded-end-pill" href="#" aria-label="Next">
                <span aria-hidden="true">Next &#62;</span>
            </a>
        </li>
        {% endif %}

    </ul>
</nav>
{% endif %}