<a href="{{ include.post.url }}" class="text-decoration-none h-100">

    <div class="card shadow">
        <div class="card-img-top" style="height: {{ include.img-height }} !important;">

            {% include components/post-thumbnail.html url=include.post.thumbnail class="rounded-top" %}

        </div>

        <div class="card-body">
            <h6 class="card-title 
                    
                               fw-bold text-limit-line-2">
                <span style="color: #f67d6f;">Dev.</span>
                {{ include.post.title }}

            </h6>
            <p class="card-text">
                <small class="text-body-secondary">

                    <small class="text-muted">{{ include.post.date | date: "%F" }}</small>
                    {% for tag in include.post.tags limit:3 %}
                    · <span class="text-muted"> {{tag}} </span>
                    {% endfor %}

                </small>
            </p>
        </div>
    </div>

</a>