<!-- SOURCE: https://www.stephanmiller.com/static-site-search/ -->
<div class="header-search">
    <form class="header-search-form row g-3" action="/search/" method="get">
        <div class="col-sm-6 col-9">
            <input class="form-control" id="search-box" type="text" name="query" placeholder="Search..." autofocus="autofocus">
            <div class="form-text">Examples: test, java, bdd, etc</div>
        </div>
        <div class="col-sm-2 col-2">
            <button type="submit" class="btn btn-primary btn-lg fw-bold rounded-pill">

                {% include icons/search.html %}
                
            </button>
        </div>
    </form>
</div>