<!-- SOURCE: https://www.stephanmiller.com/static-site-search/ -->
<div class="header-search-form border rounded-4 bg-primary bg-gradient g-3 p-2 m-0">
    <form class="header-search-form row g-3 p-0 m-0" action="/search/" method="get">
        <div class="col-auto offset-1">
            <button type="submit" class="btn btn-light fw-bold rounded-start-pill">

                {% include icons/search.html %}
                
            </button>
        </div>
        <div class="col-8">
            <input class="form-control text-black bg-white rounded-end-pill" id="search-box" type="text" name="query" placeholder="Search..." autofocus="autofocus">
            <div class="form-text text-light">Examples: test, java, bdd, etc</div>
        </div>
    </form>
</div>