<!-- parameter: post -->

<div class="summary-small">
    <div class="row">
        <div class="col-4 col-md-3">

            {% if post.thumbnail %}
            <img class="img-fluid rounded flex-shrink-0" alt="{{ post.title }}"
                src="/upload/128x/{{ post.thumbnail | relative_url }}.128x.jpg" />
            {% else %}
            <img class="img-fluid rounded flex-shrink-0" alt="{{ post.title }}"
                src="{{ site.baseurl }}/assets/img/Full-Stack-Developer-Tutorials.jpg" />
            {% endif %}

        </div>
        <div class="col-8 col-md-9">

            <div>
                <h6 class="mb-0 text-limit-line-1">{{ post.title }}</h6>
                <p>
                    {% for c in post.tags limit:2 %}
                    <span class="text-muted"> {{c}} </span>
                    {% endfor %}
                </p>
            </div>

        </div>
    </div>
</div>