<!DOCTYPE html>
<html lang="en">
{% include dev/head.html %}

<body>
    <main>
        {% include dev/header.html %}

        <section class="container flex-grow">
            <div class="row">
                <div class="post offset-md-2 col-md-8 pt-5" role="main">
                    <h2>Tag: {{ page.tag | capitalize }}</h2>
                    {% assign posts = site.tags[page.tag] %}
                    {% include dev/posts.html posts=posts limit=20 %}
                </div>
            </div>
        </section>

        {% include dev/footer.html %}
    </main>
</body>

</html>