---
layout: default
---

<div class="container-fluid">

    <div class="row p-0 p-md-5 p-xl-3 p-xxl-5">
        <div class="d-none d-sm-none d-md-none d-lg-block col-lg-2 offset-0">

            {% include tutorials.html %}

        </div>
        <div class="col-sm-12 col-md-8 col-lg-7 offset-0 px-xxl-5">

            {{content}}

            {% include author.html %}

        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 offset-0">

            {% assign posts = site.categories['top5'] %}
            {% include components/post-list-top.html posts=posts %}

            <br />

            {% include follow.html %}

            <br />

            {% include funding.html %}    

        </div>
    </div>

</div>