---
layout: blog
---

<div class="article-header wp-block-group">

    <h2 class="article-title wp-block-post-title fw-bold">
        <span class="site-strapline">{{ page.strapline }}</span>
        {{page.title}}
    </h2>

    <div class="post-meta taxonomy-category d-flex flex-wrap">

        <div class="">
            <small>By <a class="text-reset wp-block-heading" href="{{ site.baseurl }}/about">Damien</a></small>
            ·
            <small class="date wp-block-post-date">{{ page.date | date: "%F" }}</small>
        </div>

        <div class="flex-grow-1">
            {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tag/?query={{ tag }}"
                class="badge rounded-pill bg-secondary text-decoration-none" rel="tag">{{tag}}</a>
            {% endfor %}
        </div>

    </div>

</div>

<div class="post-content wp-block-post-content">{{content}}</div>